@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 20%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 20%;
    --primary: 203 98% 36%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 30%;
    --secondary-foreground: 0 0% 100%;
    --muted: 203 20% 80%;
    --muted-foreground: 0 0% 40%;
    --accent: 203 98% 36%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 203 20% 80%;
    --input: 203 20% 80%;
    --ring: 203 98% 36%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 20%;
    --foreground: 0 0% 100%;
    --card: 0 0% 20%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 20%;
    --popover-foreground: 0 0% 100%;
    --primary: 203 98% 36%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 30%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 40%;
    --muted-foreground: 0 0% 80%;
    --accent: 203 98% 36%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 40%;
    --input: 0 0% 40%;
    --ring: 203 98% 36%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
